*{
    margin: 0;
}

@font-face {
    font-family: Centra No1;
    src: url("../centrano1-and-no2-font/CentraNo1-Book.woff");
}
.wraper{
    background-color: #edf8ef;
    font-family: 'Centra No1';
}
.container{
    width: 1440px;
    margin: 0 auto;
}
body{
    background-color: #edf8ef;
}
header{
    border-bottom: 1px solid #ccc;
}
.header{
    width: 1440px;
    margin: 0 auto;
}
main{
    width: 1440px;
    background-color: #F2F7FF;
    height: 3339px;
    margin: 0 auto;
}
.logo{
    width: 146.67px;
    height: 66px;
    margin-left: 156px;
    margin-top: 2px;
}
.navbar-rignt{
    display: flex;
    margin-left: 779.83px;
}

.sign-in{
    width: 48px;
    height: 28px;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 28px;
    color: #000000;
    opacity: 0.7;
    margin-top: 26px;
    text-decoration: none;
}
.sign-in:hover{
    color: #ccc;
}
.sign-up{
    width: 134px;
    height: 38px;
    margin-top: 21px;
    margin-left: 32px;
    background-color: #FFFFFF;
    opacity: 0.9;
    border-radius: 28px;
    text-decoration: none;
}

.sign-up p{
    width: 54px;
    height: 28px;
    margin-top: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 28px;
    color: #A78730;
    margin-left: 40px;
}
.menu{
    display: none;
}
.sign-up:hover{
    text-decoration: underline 1px solid #A78730;
    background-color: #fafafa;
}
.header-top{
    display: flex;
}

.insight{
    width: 55px;
    height: 28px;
    display: flex;
    margin-top: 26px;
}

.insight p{
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 28px;
    color: #000000;
}
.insight a{
    width: 10px;
    height: 5px;
    margin-top: 3px;
    color: #000000;
}
.administration{
    display: flex;
    width: 128px;
    height: 28px;
    margin-left: 40px;
    margin-top: 26px;
}
.administration p{
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 28px;
    color: #000000;
}
.administration a{
    width: 10px;
    height: 5px;
    margin-top: 3px;
    color: #000000;
}
.profile{
    display: flex;
    width: 134px;
    height: 38px;
    border: 1px solid #ccc;
    border-radius: 38px;
    background-color: #FFFFFF;
    color: #A78730;
    margin-left: 32px;
    font-family: 'Centra No1';
    margin-top: 19px;
} 
.profile a{
    color: #A78730;
    margin-top: 9px;
    width: 10px;
    height: 5px;
}
.material-symbols-outlined{
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

#person{
    margin-left: 20.73px;
    margin-top: 7px;
}
.profile p{
    width: 47px;
    height: 28px;
    margin-top: 9px;
    margin-bottom: 5px;
    margin-left: 8.7px;
} 

.menu{
    display: none;
}

main {
    background-color: #edf8ef;
    height: 2467px;
}

.title{
    margin-top: 68px;
    width: 302px;
    height: 54px;
    margin-left: 165px;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 54px;
    color: rgba(#000000, 0.8);
}
.hr{
    border-bottom: 1px solid #ccc;
    margin-top: 7px;
}
.hr:hover{
    cursor: pointer;
    border-bottom: 1px solid violet;
}
.content1{
    width: 777px;
    height: 56px;
    margin-left: 165px;
    margin-top: 24px;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 28px;
    color: #000000;
    opacity: 0.8;
}
.content2{
    width: 777px;
    height: 84px;
    margin-left: 165px;
    margin-top: 16px;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 28px;
    color: #000000;
    opacity: 0.8;
}
.content3{
    width: 691px;
    height: 56px;
    margin-left: 165px;
    margin-top: 16px;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 28px;
    color: #000000;
    opacity: 0.8;
}
.team{
    margin-left: 164px;
    margin-top: 80px;
    width: 86px;
    height: 48px;   
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 600;
    font-size: 2.125rem;
    line-height: 48px;
    color: #A78730;
}
.main-content{
    display: flex;
    flex-direction: row;
}

.background{
    background-color: #FFFFFF;
    width: 248.73px;
    height: 380.71px;
    margin-left: 164px;
    margin-top: 60px;
    border-radius: 6px;
    position: relative;
}
.background img{
    position: absolute;
    margin-top: 40.61px;
    border-radius: 7px;
    margin-left: 60.91px;
    width: 320px;
    height: 298px;
}

.content-right{
    margin-top: 121px;
    margin-left: 227.2px;
}
.content-right h2{
    width: 232px;
    height: 38px;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 38px;
    color: #000000;
    opacity: 0.8;
}
.content-right img{
    width: 26px;
    height: 26px;
}

.content-right p{
    width: 557px;
    height: 156px;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 26px;
    color: #000000;
    opacity: 0.8;
    margin-top: 21.2px;
}

#background {
    background-color: #FFFFFF;
    width: 248.73px;
    height: 380.71px;
    margin-left: 164px;
    margin-top: 60px;
    border-radius: 6px;
    position: relative;
}

#background img{
    position: absolute;
    margin-top: 40.61px;
    margin-left: -131.8px;
    border-radius: 7px;
}

.Radgivare{
    width: 155px;
    height: 48px;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 500;
    font-size: 2.125rem;
    line-height: 48px;
    color: #A78730;
    margin-left: 164px;
    margin-top: 74px;
}

.bg{
    background-color: #FFFFFF;
    width: 210px;
    height: 274px;
    margin-left: 164px;
    margin-top: 54px;
    border-radius: 6px;
    position: relative;
}

.bg img{
    position: absolute;
    margin-top: 33.11px;
    margin-left: 46px;
    border-radius: 8px;
    width: 209.73px;
    height: 206.48px;
}

.advisor{
    display: flex;
    flex-direction: row;
}

.advisor-content{
    margin-left: 141px;
    margin-top: 97px;
}

.advisor-content h2{
    width: 220px;
    height: 32px;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 32px;
    color: #000000;
    opacity: 0.8;
}

.advisor-content img{
    width: 16.5px;
    height: 16.5px;
    cursor: pointer;
}

.advisor-content p {
    width: 466px;
    height: 78px;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 26px;
    color: #000000;
    opacity: 0.8;
    margin-top: 25px;
}
footer{
    margin-top: -15px;
    font-family: 'Centra No1';
    background-color: #292A2B;
}
.footer{
    background-color: #292A2B;
}
.footer-top{
    width: 1440px;
    margin: 0 auto;
    height: 258.3636474609375px;
    background-color: #292A2B;
    margin-top: 16px;
    display: flex;
}

.footer-top nav, ul, li, a{
    list-style: none;
    text-decoration: none;
}
.footer-top li {
    position: relative;
    margin-top: 30px;
}

.footer-top a {
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 500;
    font-size: 0.9375rem;
    line-height: 19px;
    color: #ccc;
    opacity: 0.7;
}
.footer-top a:hover{
    color: white;
}
.funding ul {
    margin-top: 76px; 
    margin-left: 210px;
}
.logo_bottom{
    height: 88px;
    width: 196px;
    margin-left: 246px;
    margin-top: 80px;
}
.hi{
    opacity: 0.6;
    font-size: 0.85rem;
}

.about ul {
    margin-top: 76px; 
    margin-left: 170px;
    color: #ccc;
}

.footer-bottom{
    background-color: #0B0B0B;
}
.ft{
    display: flex;
    color: #FFFFFF;
    width: 1440px;
    margin: 0 auto;
    background-color: #0B0B0B;
    align-items: center;
    height: 60.63px;
}
.footer-bottom img{
    margin-left: 260px;
    margin-right: 17.22px;
}

.footer-bottom a{
    color: #FFFFFF;
    text-decoration: none;
}

.copyright p{
    margin-left: 383px;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 28px;
    color: #FFFFFF;
    opacity: 0.5;
}

.border-bottom{
    display: none;
}
.language a{
    font-family: 'Centra No1';
    opacity: 0.6;
}
 
@media only screen and (max-width: 375px) {
    .container{
        width: 375px;
        margin: 0 auto;
    }
    .header{
        width: 375px;
    }
    .logo{
        width: 98px;
        height: 44px;
        margin-left: 2px;
        margin-top: -7px;
        margin-bottom: 5px;
    }
    .navbar-rignt{
        display: none;
    }
    main {
        width: 375px;
        background-color: #edf8ef;
        height: 3399.29px;
    }
    .title{
        margin-top: 24px;
        width: 172px;
        height: 38px;
        margin-left: 13px;
        font-size: 1.375rem;
        line-height: 38px;
    }
    .content1{
        width: 347px;
        height: 96px;
        margin-left: 13px;
        margin-top: 16px;
        font-size: 0.8125rem;
        line-height: 24px;
    }
    .content2{
        width: 347px;
        height: 120px;
        margin-left: 13px;
        margin-top: 10px;
        font-size: 0.8125rem;
        line-height: 24px;
    }
    .content3{
        width: 347px;
        height: 48px;
        margin-left: 13px;
        margin-top: 10px;
        font-size: 0.8125rem;
        line-height: 24px;
    }
    .team{
        margin-left: 13px;
        margin-top: 48px;
        width: 56px;
        height: 38px;   
        font-size: 1.375rem;
        line-height: 38px;
    }

    .main-content{
        display: flex;
        flex-direction: column;
    }
    .background{
        width: 240.72px;
        height: 369.2px;
        margin-left: 13px;
        margin-top: 34px;
        border-radius: 6px;
        position: relative;
    }
    .background img{
        position: absolute;
        margin-top: 39.4px;
        border-radius: 7px;
        margin-left: 39.41px;
        width: 310.59px;
        height: 298.63px;
    }
    .content-right{
        margin-top: 40px;
        margin-left: 13px;
    }
    .content-right h2{
        width: 193px;
        height: 28px;
        font-size: 1.25rem;
        font-weight: 800;
    }

    .content-right img{
        width: 16.75px;
        height: 16.75px;
    }

    .content-right p{
        width: 347px;
        height: 216px;
        font-size: 0.8125rem;
        line-height: 24px;
    }
    #background {
        background-color: #FFFFFF;
        width: 241.53px;
        height: 361.57px;
        margin-left: 121.47px;
        margin-top: 43px;
        border-radius: 6px;
        position: relative;
    }
    #main-content{
        display: flex;
        flex-direction: column-reverse;
    }
    #background img{
        width: 310.08px;
        height: 283.48px;
        position: absolute;
        margin-top: 40.61px;
        margin-left: -108.8px;
        border-radius: 7px;
    }
    .advisor{
        flex-direction: column;
    }
    
    .Radgivare{
        width: 100px;
        height: 38px;
        font-size: 1.375rem;
        line-height: 38px;
        margin-left: 13px;
        margin-top: 56px;
    }
    .bg{
        width: 187.78px;
        height: 245.56px;
        margin-left: 13px;
        margin-top: 40px;
        border-radius: 6px;
        position: relative;
    }
    .bg img{
        position: absolute;
        margin-top: 31.78px;
        margin-left: 34.67px;
        border-radius: 8px;
        width: 186.33px;
        height: 183.44px;
    }
    .advisor-content{
        margin-left: 13px;
        margin-top: 40px;
    }
    .advisor-content h2{
        width: 183px;
        height: 24px;
        font-size: 1.25rem;
        line-height: 34px;
    }
    .advisor-content img{
        cursor: pointer;
    }
    .advisor-content p {
        width: 347px;
        height: 66px;
        font-size: 0.8125rem;
        line-height: 22px;
        margin-top: 19.09px;
    }
   

    .logo_bottom{
        height: 146px;
        width: 66px;
        margin-left: 4px;
        margin-top: 25px;
    }

    .funding ul {
        margin-top: -60px;
        margin-left: -14px;
    }

    .funding li {
        margin-top: 20px; 
        
    }

    .about ul {
        margin-top: 42px;
        margin-left: -14px;
    }

    .about  li {
        margin-top: 20px;
    }

    .border-bottom{
        display: block;
        border-bottom: 1px solid #ccc;
        width: 300px;
        margin-top: 25px;
        margin-left: 27px;
    }

    .border-bottom:hover{
        color: violet;
    }

    .footer-top{
        height: 455px;
        width: 375px;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
    }

    .logo_bottom{
        height: 146px;
        width: 66px;
        margin-left: 4px;
        margin-top: 25px;
    }

    .funding ul {
        margin-top: -60px;
        margin-left: -14px;
    }

    .funding li {
        margin-top: 20px; 
        
    }

    .about ul {
        margin-top: 42px;
        margin-left: -14px;
    }

    .about  li {
        margin-top: 20px;
    }

    .border-bottom{
        display: block;
        border-bottom: 1px solid #ccc;
        width: 300px;
        margin-top: 25px;
        margin-left: 27px;
    }

    .border-bottom:hover{
        color: violet;
    }

    .ft{
        width: 375px;
        flex-direction: column;
        align-items:flex-start;
    }
    .footer-bottom{
        width: 375px;
        height: 133px;
        flex-direction: column;
        margin-top: -50px;
    }
    .language{
        padding-top: 27px;
    }
    .footer-bottom img{
        margin-left: 260px;
        margin-left: 21px;
    }
    .copyright p{
        width: 298px;
        height: 48px;
        margin-left: 21px;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 24px;
        margin-top: 15px;
    } 
    .menu{
        display: block;
        margin-left: 234px;
        cursor: pointer;
        position: relative;
        margin-top: 20px;
    }
}