* {
    margin: 0;
}

@font-face {
    font-family: Centra No1;
    src: url("../centrano1-and-no2-font/CentraNo1-Book.woff");
}

.wraper {
    background-color: #F2F7FF;
    font-family: 'Centra No1';
}

.container {
    width: 1440px;
    margin: 0 auto;
}

body {
    background-color: #F2F7FF;
}

header {
    border-bottom: 1px solid #ccc;
}

.header {
    width: 1440px;
    margin: 0 auto;
}

main {
    width: 1440px;
    background-color: #F2F7FF;
    height: 3339px;
    margin: 0 auto;
}

.logo {
    width: 146.67px;
    margin-left: 170.3px;
    margin-top: 6px;
}

.navbar-rignt {
    display: flex;
    margin-left: 779.83px;
}

.header-top {
    display: flex;
    background-color: #F2F7FF;
}

.sign-in {
    width: 48px;
    height: 28px;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 28px;
    color: #000000;
    opacity: 0.7;
    margin-top: 26px;
    text-decoration: none;
}

.sign-in:hover {
    color: #ccc;
}

.sign-up {
    width: 134px;
    height: 38px;
    margin-top: 21px;
    margin-left: 32px;
    background-color: #FFFFFF;
    opacity: 0.9;
    border-radius: 28px;
    text-decoration: none;
}

.sign-up p {
    width: 54px;
    height: 28px;
    margin-top: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 28px;
    color: #A78730;
    margin-left: 40px;
}

.menu {
    display: none;
}

.sign-up:hover {
    text-decoration: underline 1px solid #A78730;
    background-color: #fafafa;
}

.hr {
    border-bottom: 1px solid #ccc;
    margin-top: 0px;
}

.hr:hover {
    cursor: pointer;
    border-bottom: 1px solid violet;
}

.title {
    background-color: #F2F7FF;
}

.title h1 {
    background-color: #F2F7FF;
    padding-top: 56px;
    height: 39px;
    margin-left: 112px;
    font-style: normal;
    font-weight: 600;
    font-size: 1.875rem;
    line-height: 39px;
    color: #000000;
    opacity: 0.8;
}

.statistical__title {
    display: flex;
    flex-direction: row;
}


.statistical__title span {
    margin-left: 120px;
    cursor: pointer;
    margin-top: 29px;
}

.statistical__title1 {
    display: flex;
    flex-direction: row;
}

.statistical__title1 span {
    margin-left: 120px;
    cursor: pointer;
    margin-top: 29px;
}

.statistical-1 {
    margin-top: 56px;
    margin-left: 109px;
    border-top: 3px solid #4350AF;
    width: 287px;
    height: 285px;
    background: #FFFFFF;
    cursor: pointer;
}

.statistical__title h2 {
    width: 115px;
    height: 28px;
    font-style: normal;
    font-weight: 600;
    font-size: 1.375rem;
    line-height: 28px;
    color: #000000;
    opacity: 0.8;
    margin-top: 25px;
    margin-left: 23px;
}

.statistical-1 h2 {
    width: 115px;
    height: 28px;
    font-style: normal;
    font-weight: 600;
    font-size: 1.375rem;
    line-height: 28px;
    color: #000000;
    opacity: 0.8;
    margin-top: 25px;
    margin-left: 23px;
}

.statistical__number {
    display: flex;
    flex-direction: row;
}

.statistical__number #span1 {
    color: #4350AF;
    width: 30px;
    height: 30px;
    margin-top: 8px;
    margin-left: 23px;
    font-size: 2.1875rem;
}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 300,
        'GRAD' 0,
        'opsz' 48
}

.statistical__number #span2 {
    color: #619D87;
    width: 30px;
    height: 30px;
    margin-top: 8px;
    margin-left: 23px;
    font-size: 2.1875rem;

}

.statistical__number #span3 {
    color: #EB5181;
    width: 30px;
    height: 30px;
    margin-top: 8px;
    margin-left: 23px;
    font-size: 2.1875rem;
}

.statistical__number #span4 {
    color: #EF8A40;
    width: 30px;
    height: 30px;
    margin-top: 8px;
    margin-left: 23px;
    font-size: 2.1875rem;
}

.statistical__number #p1 {
    color: #4350AF;
    width: 26px;
    height: 28px;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 28px;
    margin-top: 13px;
    margin-left: 13px;
}

.statistical__number #p2 {
    color: #619D87;
    width: 26px;
    height: 28px;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 28px;
    margin-top: 13px;
    margin-left: 13px;
}

.statistical__number #p3 {
    color: #EB5181;
    width: 26px;
    height: 28px;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 28px;
    margin-top: 13px;
    margin-left: 13px;
}

.statistical__number #p4 {
    color: #EF8A40;
    width: 26px;
    height: 28px;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 28px;
    margin-top: 13px;
    margin-left: 13px;
}


.utlysningar {
    width: 245px;
    height: 72px;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    color: #000000;
    opacity: 0.9;
    margin-top: 15px;
    margin-left: 23px;
}

.utlysningar span {
    color: #A78730;
    cursor: pointer;
}

.utlysningar__nav {
    font-size: 0.9375rem;
    opacity: 0.7;
}


.statistical-1 nav ul li a {
    text-decoration: none;
    color: #000000;
}

.content-top {
    display: flex;
    width: 1440px;
    margin: 0 auto;
    background-color: #F2F7FF;
}

.statistical {
    margin-left: 24.3px;
    margin-top: 56px;
    width: 287px;
    height: 285px;
    cursor: pointer;
}

.statistical nav ul {
    margin-left: 6px;
    margin-top: 10px;
}

.statistical nav ul li a {
    text-decoration: none;
    color: #000000;
}

.line {
    display: none;
}

.search {
    display: flex;
    flex-direction: row;
}

.input {
    margin-top: 44px;
    margin-left: 109px;
    display: flex;
    position: relative;
    width: 540px;
    height: 44px;
    background: #FFFFFF;
    border-radius: 22px;
    border: 1px solid #ccc;
}

.input span {
    position: absolute;
    left: 24px;
    top: 50%;
    transform: translateY(-50%);
    color: #A78730;
    font-size: 1.625rem;
    cursor: pointer;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 700,
        'GRAD' 0,
        'opsz' 48
}

.input input {
    width: 410px;
    border-radius: 22px;
    position: absolute;
    left: 70px;
    border: none;
    height: 30px;
    top: 50%;
    transform: translateY(-50%);
    outline: none;
    font-size: 0.875rem;
}

.filter {
    width: 116px;
    height: 44px;
    background-color: #A78730;
    border-radius: 22px;
    margin-top: 44px;
    margin-left: 565px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter:hover {
    background-color: #ba9e51;
}

.filter p {
    color: white;
    margin-left: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 21px;
}

.filter span {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 21px;
}

.row-sort {
    display: flex;
    flex-direction: row;
}

.sort-show {
    display: flex;
    flex-direction: row;
    padding-left: 47px;
}

.result {
    display: flex;
    flex-direction: row;
    margin-top: 59px;
    margin-left: 109px;
    height: 21px;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 21px;
    color: #000000;
}

.result-number {
    margin-left: 14px;
    font-weight: 600;
}

.sort {
    display: flex;
    flex-direction: row;
    margin-top: 59px;
    margin-left: 647px;
    height: 21px;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 21px;
}

.sort span {
    color: #A78730;
    font-weight: 600;
    font-size: 0.9375rem;
    margin-left: 13px;
}

.show {
    display: flex;
    flex-direction: row;
    margin-top: 59px;
    margin-left: 74px;
    height: 21px;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 21px;
}

.show span {
    margin-left: 13px;
    color: #A78730;
    font-weight: 600;
    font-size: 0.9375rem;
}

.main-content {
    display: grid;
    grid-template-columns: 388px 388px 388px;
    gap: 32px 28px;
    padding-left: 82px;
    padding-top: 18px;
}

.main-content div {
    width: 388px;
    height: 191px;
    background-color: #FFFFFF;
    margin: 0 28px;
    box-shadow: 0px 5px 19px rgba(0, 0, 0, 0.08);
    border-radius: 3px;
}

.main-content div h2 {
    width: 322px;
    height: 60px;
    margin-top: 20px;
    margin-left: 24px;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 30px;
    color: #000000;
    opacity: 0.8;
}

.specific {
    width: 322px;
    height: 48px;
    margin-top: 12px;
    margin-left: 24px;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 24px;
    color: #000000;
    opacity: 0.7;
}


.main-content span {
    width: 12px;
    height: 12px;
    color: #6868ED;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.formas__a {
    display: flex;
    text-decoration: none;
    margin-top: 12px;
    margin-left: 20px;
}

.formas {
    width: 47px;
    height: 24px;
    margin-left: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 24px;
    color: #000000;
    opacity: 0.8;
}

@property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}

#p1 {
    animation: counter 7s alternate ease-in-out;
    counter-reset: num var(--num);
    animation-fill-mode: forwards;
}

#p1::after {
    content: counter(num);
}

#p2 {
    animation: counter 7s alternate ease-in-out;
    counter-reset: num var(--num);
    animation-fill-mode: forwards;
}

#p2::after {
    content: counter(num);
}

#p3 {
    animation: counter 7s alternate ease-in-out;
    counter-reset: num var(--num);
    animation-fill-mode: forwards;
}

#p3::after {
    content: counter(num);
}

#p4 {
    animation: counter 7s alternate ease-in-out;
    counter-reset: num var(--num);
    animation-fill-mode: forwards;
}

#p4::after {
    content: counter(num);
}

@keyframes counter {
    from {
        --num: 0;
    }

    to {
        --num: 785;
    }
}

.missa {
    width: 610px;
    height: 56px;
    margin-left: 415px;
    margin-top: 68px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 28px;
    text-align: center;
    color: #000000;
    opacity: 0.8;
}

.medlem {
    width: 160px;
    height: 40px;
    border: 1px solid #A78730;
    border-radius: 22px;
    margin-left: 640px;
    margin-top: 24px;
    cursor: pointer;
    margin-bottom: 68px;
}

.medlem:hover {
    background-color: #cfe4d3;
}

.medlem p {
    width: 82px;
    height: 21px;
    margin-left: 39px;
    margin-top: 9px;
    color: #A78730;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 21px;
}

.loadmore {
    width: 160px;
    height: 44px;
    border: 1px solid #A78730;
    border-radius: 22px;
    margin-left: 640px;
    margin-top: 48px;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.loadmore p {
    width: 77px;
    height: 21px;
    margin-left: 42px;
    margin-top: 12px;
    color: #A78730;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 21px;
}

.loadmore:hover {
    background-color: #cfe4d3;
}

footer {
    margin-top: -250px;
    font-family: 'Centra No1';
}

.footer {
    background-color: #292A2B;
}

.footer-top {
    width: 1440px;
    margin: 0 auto;
    height: 258.3636474609375px;
    background-color: #292A2B;
    margin-top: 16px;
    display: flex;
}



.footer-top li {
    position: relative;
    margin-top: 30px;
}

.footer-top a {
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 500;
    font-size: 0.9375rem;
    line-height: 19px;
    color: #ccc;
    opacity: 0.7;
}

.footer-top a:hover {
    color: white;
}

.funding ul {
    margin-top: 76px;
    margin-left: 210px;
    list-style: none;
}

.logo_bottom {
    height: 88px;
    width: 196px;
    margin-left: 246px;
    margin-top: 80px;
}

.hi {
    opacity: 0.6;
    font-size: 0.85rem;
}

.about ul {
    margin-top: 76px;
    margin-left: 170px;
    color: #ccc;
    list-style: none;
}

.footer-bottom {
    background-color: #0B0B0B;
}

.ft {
    display: flex;
    color: #FFFFFF;
    width: 1440px;
    margin: 0 auto;
    background-color: #0B0B0B;
    align-items: center;
    height: 60.63px;
}

.footer-bottom img {
    margin-left: 260px;
    margin-right: 17.22px;
}

.footer-bottom a {
    color: #FFFFFF;
    text-decoration: none;
}

.copyright p {
    margin-left: 383px;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 28px;
    color: #FFFFFF;
    opacity: 0.5;
}

.border-bottom {
    display: none;
}

.language a {
    font-family: 'Centra No1';
    opacity: 0.6;
}


@media only screen and (max-width: 375px) {
    .header {
        width: 375px;
    }

    .container {
        width: 375px;
    }

    .header-top {
        width: 375px;
        height: 59px;
        background-color: #FFFFFF;
    }

    .logo {
        margin-left: 2px;
    }

    .logo img {
        width: 99px;
        height: 44px;
    }

    main {
        height: 3000px;
        width: 375px;
    }

    .navbar-rignt {
        display: none;
    }

    .title {
        width: 375px;
    }

    .title h1 {
        padding-top: 32px;
        height: 39px;
        width: 363px;
        margin-left: 12px;
        font-size: 1.375rem;
    }

    .content-top {
        display: flex;
        flex-direction: column;
        width: 375px;
    }

    .statistical-1 {
        margin-top: 32px;
        margin-left: 13px;
        border-top: 3px solid #4350AF;
        width: 350px;
        height: 267px;
        margin-bottom: 170px;
    }

    .statistical {
        margin-left: 15px;
        margin-top: -160px;
        width: 287px;
        height: 285px;
        cursor: pointer;
    }

    .statistical nav ul {
        display: none;
    }

    .statistical p {
        display: none;
        border-bottom: 2px solid #ccc;
    }

    .statistical__title span {
        transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
    }

    #statistical__title1 {
        transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
    }

    .statistical-1 nav ul {
        margin-left: 6px;
        margin-top: -13px;
    }

    .line {
        border-bottom: 1px solid #ccc;
        margin-top: 32px;
        display: block;
        margin-left: 26px;
    }

    .line:hover {
        cursor: pointer;
        border-bottom: 1px solid violet;
    }

    .input {
        width: 225px;
        margin-left: 13px;
        padding-left: 255px;
    }

    .input span {
        position: absolute;
        left: 15px;
        color: #A78730;
        font-size: 1.25rem;
    }

    .input input {
        width: 170px;
        border-radius: 22px;
        position: absolute;
        border: none;
        height: 30px;

        outline: none;
        right: 15px;
        left: 45px;
    }

    .filter {
        width: 44px;
        height: 44px;
        margin-left: 40px;
        cursor: pointer;
        margin-top: 45px;
    }

    .filter p {
        display: none;
    }

    .filter span {
        color: white;
        font-size: 1.5625rem;

    }

    .search {
        margin-top: -180px;
    }

    .row-sort {
        display: flex;
        flex-direction: column-reverse;
    }

    .sort p {
        display: none;
    }

    .show p {
        display: none;
    }

    .sort {
        margin-top: 30px;
        margin-left: 13px;
        height: 20px;
        font-weight: 600;
        font-size: 0.9375rem;
        line-height: 19px;
    }

    .show {
        margin-top: 30px;
        margin-left: 74px;
        height: 20px;
        font-weight: 600;
        font-size: 0.9375rem;
        line-height: 19px;
    }

    .result {
        margin-top: 32px;
        margin-left: 15px;
        font-style: normal;
    }

    .main-content {
        width: 362px;
        display: block;
        padding-left: 13px;
        padding-top: 0;
    }

    .main-content div {
        width: 350px;
        height: 191px;
        margin: 24px 0;
    }

    .main-content div h2 {
        width: 310px;
        height: 61px;
        display: flex;
        align-items: center;
        padding-top: 33px;
        margin-bottom: 26px;
    }

    .div1 {
        display: none;
    }

    .missa {
        width: 327px;
        height: 72px;
        margin-left: 24px;
        margin-top: 32px;
        font-size: 0.875rem;
        line-height: 24px;
    }

    .medlem {
        margin-left: 107px;
        margin-bottom: 40px;
    }

    .loadmore {
        margin-left: 108px;
        margin-top: 40px;
    }

    .footer-top {
        height: 455px;
        width: 375px;
        display: flex;
        flex-direction: column;
    }

    .logo_bottom {
        height: 146px;
        width: 66px;
        margin-left: 4px;
        margin-top: 25px;
    }

    .funding ul {
        margin-top: -60px;
        margin-left: -14px;
    }

    .funding li {
        margin-top: 20px;

    }

    .about ul {
        margin-top: 42px;
        margin-left: -14px;
    }

    .about li {
        margin-top: 20px;
    }

    .border-bottom {
        display: block;
        border-bottom: 1px solid #ccc;
        width: 300px;
        margin-top: 25px;
        margin-left: 27px;
    }

    .border-bottom:hover {
        color: violet;
    }

    .footer-bottom {
        width: 375px;
        height: 133px;
        flex-direction: column;
        margin-top: -50px;
    }

    .footer-bottom img {
        margin-left: 21px;
    }

    .language {
        padding-top: 22px;
        margin-bottom: 16px;
    }

    .copyright p {
        color: #FFFFFF;
        width: 298px;
        height: 48px;
        margin-left: 21px;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 24px;
    }

    footer {
        margin-top: 0;
    }

    .menu {
        display: block;
        margin-left: 234px;
        cursor: pointer;
        position: relative;
        margin-top: 17px;
    }

    .ft {
        width: 375px;
        flex-direction: column;
        align-items: flex-start;
    }

    .sort-show {
        padding-left: 0;
    }

    .sort span {
        margin-left: 3px;
    }

    .show span {
        padding-left: 37px;
    }
}