*{
    margin: 0;
}

@font-face {
    font-family: Centra No1;
    src: url("../centrano1-and-no2-font/CentraNo1-Book.ttf");
}
.container{
    width: 1440px;
    margin: 0 auto;
    font-family: 'Centra No1';
}

main{
    width: 100%;
    background-color: #F2F7FF;
    height: 3339px;
}
.logo{
    width: 146.67px;
    margin-left: 170.3px;
    margin-top: 6px;
}
.navbar-rignt{
    display: flex;
    margin-left: 779.83px;
}

.header-top{
    display: flex;
    width: 100%;
}

.sign-in{
    width: 48px;
    height: 28px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
    opacity: 0.7;
    margin-top: 26px;
    text-decoration: none;
}
.sign-in:hover{
    color: #ccc;
}

.sign-up{
    width: 134px;
    height: 38px;
    margin-top: 21px;
    margin-left: 32px;
    background-color: #FFFFFF;
    opacity: 0.9;
    border-radius: 28px;
    text-decoration: none;
}

.sign-up p{
    width: 54px;
    height: 28px;
    margin-top: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #A78730;
    margin-left: 40px;
}
.menu{
    display: none;
}
.sign-up:hover{
    text-decoration: underline 1px solid #A78730;
    background-color: #fafafa;
}

.hr{
    border-bottom: 1px solid #ccc;
    margin-top: 0px;
}
.hr:hover{
    cursor: pointer;
    border-bottom: 1px solid violet;
}

.title{
    margin-top: 56px;
    width: 304px;
    height: 39px;
    margin-left: 112px;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 39px;
    color: #000000;
    opacity: 0.8;
}
.statistical__title{
    display: flex;
    flex-direction: row;
}


.statistical__title span{
    margin-left: 120px;
    cursor: pointer;
    margin-top: 29px;
}
.statistical__title1{
    display: flex;
    flex-direction: row;
}
.statistical__title1 span{
    margin-left: 120px;
    cursor: pointer;
    margin-top: 29px;
}
.statistical-1{
    margin-top: 56px;
    margin-left: 109px;
    border-top: 3px solid #4350AF;
    width: 287px;
    height: 285px;
    background: #FFFFFF;
    cursor: pointer;
}

.statistical__title h2{
    width: 115px;
    height: 28px;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    color: #000000;
    opacity: 0.8;
    margin-top: 25px;
    margin-left: 23px;
}

.statistical-1 h2{
    width: 115px;
    height: 28px;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    color: #000000;
    opacity: 0.8;
    margin-top: 25px;
    margin-left: 23px;
}

.statistical__number{
    display: flex;
    flex-direction: row;
}

.statistical__number #span1 {
    color: #4350AF;
    width: 30px;
    height: 30px;
    margin-top: 8px;
    margin-left: 23px;
    font-size: 35px;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 48
}

.statistical__number #span2 {
    color: #619D87;
    width: 30px;
    height: 30px;
    margin-top: 8px;
    margin-left: 23px;
    font-size: 35px;

}

.statistical__number #span3{
    color: #EB5181;
    width: 30px;
    height: 30px;
    margin-top: 8px;
    margin-left: 23px;
    font-size: 35px;
}

.statistical__number #span4{
    color: #EF8A40;
    width: 30px;
    height: 30px;
    margin-top: 8px;
    margin-left: 23px;
    font-size: 35px;
}

.statistical__number #p1 {
    color: #4350AF;
    width: 26px;
    height: 28px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin-top: 13px;
    margin-left: 18px;
}

.statistical__number #p2 {
    color: #619D87;
    width: 26px;
    height: 28px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin-top: 13px;
    margin-left: 18px;
}

.statistical__number #p3 {
    color: #EB5181;
    width: 26px;
    height: 28px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin-top: 13px;
    margin-left: 18px;
}

.statistical__number #p4 {
    color: #EF8A40;
    width: 26px;
    height: 28px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin-top: 13px;
    margin-left: 18px;
}


.utlysningar{
    width: 245px;
    height: 72px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    opacity: 0.9;
    margin-top: 15px;
    margin-left: 23px;
}

.utlysningar span{
    color: #A78730;
    cursor: pointer;
}

.statistical-1 nav ul{
    margin-left: 6px;
    margin-top: 10px;
}
.statistical-1 nav ul li a{
    text-decoration: none;
    color: #000000;
}   
.content-top{
    display: flex;
}

.statistical{
    margin-left: 24.3px;
    margin-top: 56px;
    width: 287px;
    height: 285px;
    cursor: pointer;
}

.statistical nav ul{
    margin-left: 6px;
    margin-top: 10px;
}
.statistical nav ul li a{
    text-decoration: none;
    color: #000000;
} 
.line{
    display: none;
}

.search{
    display: flex;
    flex-direction: row;
}
.input{
    margin-top: 44px;
    margin-left: 109px;
    display: flex;
    position: relative;
    width: 540px;
    height: 44px;
    background: #FFFFFF;
    border-radius: 22px;
    border: 1px solid #ccc;
}
.input span{
    position: absolute;
    left: 24px;
    top: 9px;
    color: #A78730;
    font-size: 30px;
    cursor: pointer;
}
.input input{
    width: 400px;
    border-radius: 22px;
    position: absolute;
    left: 70px;
    border: none;
    height: 30px;
    top:5px ;
    outline: none;
}

.filter{
    width: 116px;
    height: 44px;
    background-color: #A78730;
    border-radius: 22px;
    margin-top: 44px;
    margin-left: 565px;
    cursor: pointer;
    display: flex;
}

.filter:hover{
    background-color: #ba9e51;
}
.filter p{
    color: white;
    margin-left: 10px;
    margin-top: 11px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}
.filter span{
    color: white;
    margin-left: 24.73px;
    margin-top: 11px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

.row-sort{
    display: flex;
    flex-direction: row;
}

.sort-show{
    display: flex;
    flex-direction: row;
}
.result{
    display: flex;
    flex-direction: row;
    margin-top: 59px;
    margin-left: 109px;
    height: 21px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;  
    color: #000000;
}
.result-number{
    margin-left: 14px;
}
.sort{
    display: flex;
    flex-direction: row;
    margin-top: 59px;
    margin-left: 647px;
    height: 21px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px; 
}
.sort span{
    color: #A78730;
    font-weight: 500;
    margin-left: 8px;
}

.show{
    display: flex;
    flex-direction: row;
    margin-top: 59px;
    margin-left: 74px;
    height: 21px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px; 
}

.show span{
    margin-left: 13px;
    color: #A78730;
    font-weight: 500;
}

.main-content{
    width: 1070px;
    display: grid;
    grid-template-columns: 388px 388px 388px;
    gap: 32px 28px;
    padding-left: 82px;
    padding-top: 18px;
}

.main-content div{
    width: 388px;
    height: 191px;
    background-color: #FFFFFF;
    margin:0 28px;
    box-shadow: 0px 5px 19px rgba(0, 0, 0, 0.08);
    border-radius: 3px;
}

.main-content div h2{
    width: 322px;
    height: 60px;
    margin-top: 20px;
    margin-left: 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    opacity: 0.8;
}

.specific{
    width: 322px;
    height: 48px;
    margin-top: 12px;
    margin-left: 24px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
    opacity: 0.7;
}

.main-content div a{
    display: flex;
    text-decoration: none;
    margin-top: 12px;
    margin-left: 20px;
}

.main-content span{
    width: 12px;
    height: 12px;
    color: #6868ED;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.formas{
    width: 47px;
    height: 24px;
    margin-left: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    opacity: 0.8;
}

.missa{
    width: 610px;
    height: 56px;
    margin-left: 415px;
    margin-top: 68px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #000000;
    opacity: 0.8;
}
.medlem{
    width: 160px;
    height: 40px;
    border: 1px solid #A78730;
    border-radius: 22px;
    margin-left: 640px;
    margin-top: 24px;
    cursor: pointer;
    margin-bottom: 68px;
}
.medlem:hover{
    background-color: #cfe4d3;
}
.medlem p{
    width: 82px;
    height: 21px;
    margin-left: 39px;
    margin-top: 9px;
    color: #A78730;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

.loadmore{
    width: 160px;
    height: 44px;
    border: 1px solid #A78730;
    border-radius: 22px;
    margin-left: 640px;
    margin-top: 48px;
    cursor: pointer;
}

.loadmore p{
    width: 77px;
    height: 21px;
    margin-left: 42px;
    margin-top: 12px;
    color: #A78730;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

.loadmore:hover{
    background-color: #cfe4d3;
}

footer{
    margin-top: -200px;
}
.footer-top{
    height: 258.3636474609375px;
    width: 1440px;
    background-color: #292A2B;
    display: flex;
}

.footer-top nav, ul, li, a{
    list-style: none;
    text-decoration: none;
}
.footer-top li {
    position: relative;
    margin-top: 30px;
}

.footer-top a {
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 0.7;
}
.footer-top a:hover{
    color: violet;
}
.funding ul {
    margin-top: 76px; 
    margin-left: 210px;
}
.logo_bottom{
    height: 88px;
    width: 196px;
    margin-left: 246px;
    margin-top: 80px;
}

.about ul {
    margin-top: 76px; 
    margin-left: 170px;
}

.footer-bottom{
    width: 1440px;
    display: flex;
    height: 60.64px;
    background-color: #0B0B0B;
    color: #FFFFFF;
}

.footer-bottom img{
    margin-left: 260px;
    margin-top: 21.64px;
    margin-right: 17.22px;
}

.footer-bottom a{
    color: #FFFFFF;
    text-decoration: none;
}

.copyright p{
    margin-left: 383px;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;
    opacity: 0.5;
    margin-top: 12.64px;
}

@media only screen and (max-width: 375px){
    .container{
        width: 375px;
    }
    .header-top{
        width: 375px;
        height: 59px;
        background-color: #FFFFFF;
    }
    .logo{
        margin-left: 2px;
    }
    .logo img{
        width: 99px;
        height: 44px;
    }
    main{
        height: 3000px;
    }
    .navbar-rignt{
        display: none;
    }
    .title{
        margin-top: 32px;
        width: 223px;
        height: 28px;
        margin-left: 13px;
        font-weight: 500;
        font-size: 22px;
        line-height: 28px;
    }
    .content-top{
        display: flex;
        flex-direction: column;
    }
    .statistical-1{
        margin-top: 32px;
        margin-left: 13px;
        border-top: 3px solid #4350AF;
        width: 350px;
        height: 267px;
        margin-bottom: 170px;
    }
    .statistical{
        margin-left: 15px;
        margin-top: -150px;
        width: 287px;
        height: 285px;
        cursor: pointer;
    }
    .statistical nav ul{
        display: none;
    }
    .statistical p {
        display: none;
        border-bottom: 2px solid #ccc;
    }
    .statistical__title span{
        transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
    }
    #statistical__title1{
        transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
    }

    .line{
        border-bottom: 1px solid #ccc;
        margin-top: 32px;
        display: block;
        margin-left: 26px;
    }
    .line:hover{
        cursor: pointer;
        border-bottom: 1px solid violet;
    }
     
    .input{
        margin-left: 13px;
        padding-left: 255px;
    }
    .input span{
        position: absolute;
        left: 15px;
        top: 13px;
        color: #A78730;
        font-size: 20px;
    }

    .input input{
        width: 170px;
        border-radius: 22px;
        position: absolute;
        border: none;
        height: 30px;
        top:6.5px ;
        outline: none;
        right: 15px;
        left: 45px;
    }

    .filter{
        width: 44px;
        height: 44px;
        margin-left: 51px;
        margin-right: 12px;
        cursor: pointer;
    }
    .filter p{
        display: none;
    }

    .filter span{
        color: white;
        font-size: 25px;
        width: 14px;
        height: 1.65px;
        padding-right: 25px;
        margin-left: 15px;
    }
    .search{
        margin-top: -180px;
    }
    .row-sort{
        display: flex;
        flex-direction: column-reverse;
    }
    .sort p{
        display: none;
    }
    .show p{
        display: none;
    }
    .sort{
        margin-top: 30px;
        margin-left: 13px;
        height: 20px;
        font-weight: 500;
        font-size: 15px;
        line-height: 19px; 
    }
    .show{
        margin-top: 30px;
        margin-left: 74px;
        height: 20px;
        font-weight: 500;
        font-size: 15px;
        line-height: 19px; 
    }

    .result{
        margin-top: 32px;
        margin-left: 15px;
        font-style: normal;
    }
    .main-content{
        width: 100%;
        display: block;
        padding-left: 13px;
        padding-top: 0;
    }
    .main-content div{
        width: 350px;
        height: 191px;
        margin: 24px 0;
    }
    .div1{
        display: none;
    }
    .missa{
        width: 327px;
        height: 72px;
        margin-left: 24px;
        margin-top: 32px;
        font-size: 14px;
        line-height: 24px;
    }
    .medlem{
        margin-left: 107px;
        margin-bottom: 40px;
    }

    .loadmore{
        margin-left: 108px;
        margin-top: 40px;
    }

    .footer-top{
        height: 455px;
        width: 375px;
        margin-top: -100px;
        display: flex;
        flex-direction: column;
    }

    .logo_bottom{
        height: 146px;
        width: 66px;
        margin-left: 4px;
        margin-top: 25px;
    }

    .funding ul {
        margin-top: -60px;
        margin-left: -14px;
    }

    .funding li {
        margin-top: 20px; 
        
    }

    .about ul {
        margin-top: 42px;
        margin-left: -14px;
    }

    .about  li {
        margin-top: 20px;
    }

    .border-bottom{
        display: block;
        border-bottom: 1px solid #ccc;
        width: 300px;
        margin-top: 25px;
        margin-left: 27px;
    }

    .border-bottom:hover{
        color: violet;
    }

    .footer-bottom{
        width: 375px;
        height: 133px;
        flex-direction: column;
        margin-top: -50px;
    }

    .footer-bottom img{
        margin-left: 260px;
        margin-top: 27px;
        margin-left: 21px;
    }
    .copyright p{
        color: #FFFFFF;
        width: 298px;
        height: 48px;
        margin-left: 21px;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
    } 
    footer{
        margin-top: 0;
    }

    .menu{
        display: block;
        margin-left: 190px;
        cursor: pointer;
        position: relative;
        margin-top: 17px;
    }
}