*{
    margin: 0;
}
@font-face {
    font-family: Centra No1;
    src: url("../centrano1-and-no2-font/CentraNo1-Book.ttf");
}
.container{
    width: 1440px;
    background-color: #E5E5E5;
    margin: 0 auto;
}
body{
    font-family: 'Centra No1';
    font-style: normal;
}
main{
    width: 100%;
}
.logo{
    width: 146.67px;
    height: 66px;
    margin-left: 156px;
    margin-top: 2px;
}
.navbar-rignt{
    display: flex;
    margin-left: 586.83px;
}

.header-top{
    display: flex;
}

.insight{
    width: 55px;
    height: 28px;
    display: flex;
    margin-top: 26px;
}

.insight p{
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
}
.insight a{
    width: 10px;
    height: 5px;
    margin-left: 9px;
    margin-top: 3px;
    color: #000000;
}
.administration{
    display: flex;
    width: 128px;
    height: 28px;
    margin-left: 40px;
    margin-top: 26px;
}
.administration p{
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
}
.administration a{
    width: 10px;
    height: 5px;
    margin-top: 3px;
    margin-left: 9px;
    color: #000000;
}
.profile{
    display: flex;
    width: 134px;
    height: 38px;
    border: 1px solid #ccc;
    border-radius: 38px;
    background-color: #A78730;
    color: #FFFFFF;
    margin-left: 32px;
    margin-top: 19px;
} 
.profile a{
    color: #FFFFFF;
    margin-top: 9px;
    width: 10px;
    height: 5px;
}
.material-symbols-outlined{
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

#person{
    margin-left: 20.73px;
    margin-top: 7px;
}
.profile p{
    width: 47px;
    height: 28px;
    margin-top: 11px;
    margin-bottom: 5px;
    margin-left: 8.7px;
} 
.hr{
    border-bottom: 1px solid #ccc;
    margin-top: 7px;
}
.hr:hover{
    cursor: pointer;
    border-bottom: 1px solid violet;
}
.formas{
    width: 47px;
    height: 24px;
    margin-left: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    opacity: 0.8;
}
.main{
    width: 800px;
    height: 1918px;
    margin-left: 320px;
    background-color: #FFFFFF;
}
.grants{
    display: flex;
    flex-direction: row;
}
.grants a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
}
.grants span{
    width: 14px;
    height: 14px;
    margin-top: 39px;
    margin-left: 36px;
    color: #6868ED;
}
.grants p{
    margin-top: 39px;
    margin-left: 12px;
    width: 48px;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    opacity: 0.8;
}

#close{
    margin-left: 638px;
    color: #A78730;
    cursor: pointer;
}
.main-title{
    width: 535px;
    height: 78px;
    margin-left: 133px;
    margin-top: 59px;
}

.main-title h2{
    font-size: 30px;
    line-height: 39px;
    text-align: center;
    color: #000000;
    opacity: 0.8;
    font-weight: 400;
}

.main-content{
    width: 100%;
    margin-top: 60px;
    margin-left: 105px;
}

.function{
    display: flex;
    flex-direction: row;
}

.function h3{
    text-transform: uppercase;
    width: 131px;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.function p{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #A78730;
    margin-left: 209px;
}
.line{
    border: 1px solid #ccc;
    width: 73.39%;
    margin-top: 24px;
    margin-bottom: 24px;
}

.category{
    display: flex;
}
.category a{
    color: #000000;
    margin-left: 28.8px;
}
.category-span{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.description{
    width: 590px;
    height: 1176px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    opacity: 0.8;
    padding-top: 24px;
}
.loadmore{
    width: 147px;
    height: 41px;
    border-radius: 32px;
    margin-top: 48px;
    margin-left: 327px;
    cursor: pointer;
    background-color: #A78730;
    text-align: center;
}

.loadmore p{
    width: 77px;
    height: 21px;
    margin-left: 38px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    padding-top: 10px;
}

.loadmore:hover{
    background-color: #c6a959;
}

footer{
    margin-top: 127px;
}
.footer-top{
    height: 258.3636474609375px;
    width: 1440px;
    background-color: #292A2B;
    display: flex;
}

.footer-top nav, ul, li, a{
    list-style: none;
    text-decoration: none;
}
.footer-top li {
    position: relative;
    margin-top: 30px;
}

.footer-top a {
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 0.7;
}
.footer-top a:hover{
    color: violet;
}
.funding ul {
    margin-top: 76px; 
    margin-left: 210px;
}
.logo_bottom{
    height: 88px;
    width: 196px;
    margin-left: 246px;
    margin-top: 80px;
}

.about ul {
    margin-top: 76px; 
    margin-left: 170px;
}

.footer-bottom{
    width: 1440px;
    display: flex;
    height: 60.64px;
    background-color: #0B0B0B;
    color: #FFFFFF;
}

.footer-bottom img{
    margin-left: 260px;
    margin-top: 21.64px;
    margin-right: 17.22px;
}

.footer-bottom a{
    color: #FFFFFF;
    text-decoration: none;
}

.copyright p{
    margin-left: 383px;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;
    opacity: 0.5;
    margin-top: 12.64px;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 40
}
